# Applecorn linker configuration for Commodore 128
# Simple flat binary at $2000

MEMORY {
    ZP:       start = $0000, size = $0100, type = rw;
    RAM:      start = $0200, size = $1E00, type = rw;
    LOADADDR: start = $2000, size = $E000, type = rw, file = %O;
}

SEGMENTS {
    ZEROPAGE: load = ZP,       type = zp;
    LOWRAM:   load = RAM,      type = rw,  optional = yes;
    CODE:     load = LOADADDR, type = rw;
}
